*{
margin:0;
padding:0;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#screenshot{
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

#background{
	display: block;
}

#logo {
	display: block;
	max-width: 100%;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 2000;
}

#save {
	display: block;
	max-width: 100%;
	position: fixed;
	bottom: 50px;
	left: 50px;
	z-index: 2000;
	cursor: pointer;
}

#refresh {
	display: block;
	max-width:100%;
	position: fixed;
	bottom: 50px;
	left: 50%;
	margin-left: -25px;
	z-index: 2000;
	cursor: pointer;
}

#click-again {
	position: fixed;
	bottom: 50px;
	left: 110px;
}

.icon {
	display: block;
	position: absolute;
	max-width: 100%;
}

#overlay-color {
	background-color: red;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 2500;
	opacity: 0.5;
}

#start-box {
	padding: 20px;
	width: 300px;
	height: 200px;
	position: fixed;
    left: 0;
    right: 0;
    top: 35%;
	z-index: 3000;
	opacity: 1;
	margin: 0px auto;
	background-color: white;
}

.none {
	display: none;
}